<div class="my-4 w-50 m-auto" style="min-height: 80vh;">
    <h1 class="text-center fw-bold">Weather App</h1>

    <form method="GET" action="/">
        <div class="my-4 d-flex justify-content-center align-items-center">
            <input 
            type="text" 
            name="name" 
            id="" 
            class="w-100 p-2 border-0 border-bottom" 
            placeholder="Where do you live? ..."
            required>
            <button type="submit" class="btn btn-link text-decoration-none">Search</button>
        </div>
    </form>
</div>
